In [11]:
import numpy as np
import pandas as pd
import operator

class VDsDistributer:
    def __init__(self,entries,capacityArray, requestsArray):
        self.entries=entries
        self.capacityArray=capacityArray
        self.requestsArray=requestsArray
        
    def recoveryDistribution(self):
        column_names = ["Max", "Chosen_N", "capacity", "requests"]
        df = pd.DataFrame(columns = column_names)
        df = df.append([{'capacity': ', '.join(map(str,capacityArray.tolist())), 'requests':', '.join(map(str,requestsArray.tolist()))}], ignore_index=True)

        #algorithm
        for i in entries:
            a = np.take(capacityArray, i-1)
            b = np.take(requestsArray, i-1)
            c = a/b
            cMaxIndex, cMax = max(enumerate(c), key=operator.itemgetter(1))
            for j in i:
                requestsArray [j-1] -= 1
            capacityArray[i[cMaxIndex] - 1] -= 1
            maxString = list(map(lambda x, y: x+ '/' +y, map(str,a), map(str,b)))
            df = df.append([{'Max':', '.join(maxString), 'Chosen_N': i[cMaxIndex], 'capacity': ', '.join(map(str,capacityArray.tolist())), 'requests':', '.join(map(str,requestsArray.tolist()))}], ignore_index=True)

        display(df)

In [13]:
#parameters example
entries = np.array([[1,2,4],[1,3,4],[2,3,5],[1,3,4],[2,3,5],[1,2,5],[1,3,5],[1,3,4],[1,2,3],[1,2,5],[1,4,5],[3,4,5],[1,3,4],[1,2,4],[1,3,5],[1,3,4],[2,3,5],[1,3,4],[1,3,4],[1,4,5]])
capacityArray = np.array([4,2,5,8,3])
requestsArray = np.array([16,8,14,12,10])

_vdsDistributer = VDsDistributer(entries, capacityArray, requestsArray)
_vdsDistributer.recoveryDistribution()

                 Max Chosen_N       capacity           requests
0                NaN      NaN  4, 2, 5, 8, 3  16, 8, 14, 12, 10
1    4/16, 2/8, 8/12        4  4, 2, 5, 7, 3  15, 7, 14, 11, 10
2   4/15, 5/14, 7/11        4  4, 2, 5, 6, 3  14, 7, 13, 10, 10
3    2/7, 5/13, 3/10        3  4, 2, 4, 6, 3   14, 6, 12, 10, 9
4   4/14, 4/12, 6/10        4  4, 2, 4, 5, 3    13, 6, 11, 9, 9
5     2/6, 4/11, 3/9        3  4, 2, 3, 5, 3    13, 5, 10, 9, 8
6     4/13, 2/5, 3/8        2  4, 1, 3, 5, 3    12, 4, 10, 9, 7
7    4/12, 3/10, 3/7        5  4, 1, 3, 5, 2     11, 4, 9, 9, 6
8     4/11, 3/9, 5/9        4  4, 1, 3, 4, 2     10, 4, 8, 8, 6
9     4/10, 1/4, 3/8        1  3, 1, 3, 4, 2      9, 3, 7, 8, 6
10     3/9, 1/3, 2/6        1  2, 1, 3, 4, 2      8, 2, 7, 8, 5
11     2/8, 4/8, 2/5        4  2, 1, 3, 3, 2      7, 2, 7, 7, 4
12     3/7, 3/7, 2/4        5  2, 1, 3, 3, 1      7, 2, 6, 6, 3
13     2/7, 3/6, 3/6        3  2, 1, 2, 3, 1      6, 2, 5, 5, 3
14     2/6, 1/2, 3/5        4  2, 1, 2, 2, 1      5, 1, 5, 4, 3
15     2/5, 2/5, 1/3        1  1, 1, 2, 2, 1      4, 1, 4, 4, 2
16     1/4, 2/4, 2/4        3  1, 1, 1, 2, 1      3, 1, 3, 3, 2
17     1/1, 1/3, 1/2        2  1, 0, 1, 2, 1      3, 0, 2, 3, 1
18     1/3, 1/2, 2/3        4  1, 0, 1, 1, 1      2, 0, 1, 2, 1
19     1/2, 1/1, 1/2        3  1, 0, 0, 1, 1      1, 0, 0, 1, 1
20     1/1, 1/1, 1/1        1  0, 0, 0, 1, 1      0, 0, 0, 0, 0